
.buddiesContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.buddiesCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 3rem;
  margin-top: 2rem;
}