
.modalBg {
  max-width: 80%;
  height: 70rem;
  /* background: rgb(202, 202, 202);
  background-image: url('../../images/pets_white.svg');
  background-size: 5rem;
  background-repeat: repeat; */
  position:absolute;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  z-index: 10;
  
}

.modalContainer {
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(0deg, rgba(213,213,213,0.7) 0%, rgba(255, 255, 255, 0.9) 55%); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.modalImage {
  border: 2px var(--pink) solid;
  border-radius: 5px;
  width: auto;
  height: 700px;
  max-height: 85%;
  z-index: 100;
}

.closeModalBtn {
  font-size: 6rem;
  fill: var(--pink);
  opacity: 0.7;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  padding-top: .5rem;
}

.closeModalBtn:hover {
  transform: scale(1.1);
}