

.alaynaTitle {
  font-family: 'Sail', cursive;
  color: black;
  font-size: var(--font-l);
  letter-spacing: .3rem;
  text-shadow: 4px 4px 4px rgb(229, 206, 255);
  margin: 0;
  padding: 10rem 0 3rem 0;
}