

/* .headerContainer {
  position: relative
} */

.alaynaTitle {
  font-family: 'Sail', cursive;
  color: black;
  font-size: var(--font-l);
  letter-spacing: .3rem;
  text-shadow: 4px 4px 4px rgb(229, 206, 255);
  margin: 0;
  padding: 10rem 0 2rem 0;
}

/* ----------------------------MEDIA---------------------------------- */

@media only screen and (max-width: 600px) {
  .alaynaTitle {
    padding: 7rem 0 1rem 0;
  }
}