.navBarContainer {
  /* height: 15rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
}

.navMessageContainer {
  background-color: var(--pink);
  border-bottom: 1px solid var(--dk-pink);
  opacity: 0.8;
  min-height: 20px;
  position: relative;
  width: 100%;
}

.navMessage {
  color: rgb(202, 141, 238);
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -1px;
  left: 0;
  font-size: var(--font-tiny);
  font-weight: 200;
  width: 100%;
  text-align: center;
}

.hamburgerContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburgerContainer .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: var(--lt-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburgerContainer .hamburger > div::before,
.hamburgerContainer .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.hamburgerContainer .hamburger > div::after {
  top: 10px;
}

.hamburgerContainer .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.hamburgerContainer .toggler:checked + .hamburger > div:before,
.hamburgerContainer .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.navBarItems {
  background-color: rgba(241, 241, 241, 0.4);
  font-weight: 300;
  color: var(--dk-gray);
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0 0 0;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
}

ul {
  list-style-type: none;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.navItem:hover {
  transform: scale(1.2);
  background-color: rgb(231, 231, 231);
  border-radius: 0 0 5px 5px;
  border: rgb(211, 211, 211) 1px solid;
}

.navIcon {
  font-size: var(--font-s);
  padding-right: 0.4rem;
}

.navText {
  font-family: var(--nav-font);
  font-size: var(--font-xs);
}

.alaynaContainer {
  display: none;
  width: 0px;
}

.navIcon:hover {
  color: var(--pink);
}

/* ----------------------------MEDIA---------------------------------- */

@media only screen and (max-width: 600px) {
  .hamburgerContainer {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navBarContainerChecked {
  background-color: rgb(200, 121, 245);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
  min-height: 100vh;
  z-index: 100;
  }

  .navMessageContainer {
    height: 55px;
  }

  .navMessage {
    bottom: 2px;
  }

  .navBarItems {
    width: 100%;
    visibility: hidden;
  }

  .navBarItemsChecked {
    border-left: 1px solid var(--dk-pink);
    /* height: 95vh; */
    height: auto;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 100;
    opacity: .97;
  }

  .navItem {
    display: none;
  }

  li {
    height: 100%;
    
  }

  .navItemChecked{
    border-bottom: 1px solid var(--dk-pink);
    border-right: 1px solid var(--dk-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 40px; */
    padding: 3rem 1rem;
    margin: 0;
    text-align: center;
  }

  /* .navIcon {
    font-size: 1rem;
    padding-right: 0;
    padding-bottom: 0;
  } */

  .navIcon {
    font-size: 3.5rem;
    padding-right: 0;
    padding-bottom: 1rem;
  }

  .navIcon:hover {
    color: inherit;
  }

  .navTextChecked {
    font-size: var(--font-tiny);
  }

  .navText {
    font-size: var(--font-tiny);
  }
}

.alaynaCheckedContainer{
  /* border-bottom: 1px solid var(--dk-pink); */
  width: 100%;
  -webkit-grid-column: 1 / 4;
  -moz-grid-column: 1 / 4;
  grid-column: 1 / 4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem 15rem 0rem;
}

.alaynaTitleChecked {
  font-family: 'Sail', cursive;
  text-align: center;
  color: black;
  font-size: var(--font-xl);
  letter-spacing: .3rem;
  text-shadow: 0px 0px 8px rgb(238, 223, 255);
  position: absolute;
  transform: rotate(-20deg);
}

.navHeart {
  fill: rgb(120, 0, 150);
  font-size: 15rem;
  position: absolute;
  padding-top: 2rem;
}

/* FIND OUT WHY DOESN"T THIS WORK? */
/* @media (hover:none){
  .navIcon:hover {
    color: inherit;
  }
} */