
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body, main {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --pink: rgb(182, 81, 240);
  --lt-pink: rgb(209, 129, 255);
  --dk-pink: rgb(70, 0, 66);
  --lt-gray: rgb(236, 236, 236);
  --gray: rgb(218, 218, 218);
  --dk-gray: rgb(63, 63, 63);
  --font-tiny: 1.2rem;
  --font-xs: 1.4rem;
  --font-s: 1.7rem;
  --font-m: 2.1rem;
  --font-l: 4.8rem;
  --font-xl: 6rem;
  --nav-font: 'Lato', sans-serif;
  --nav-font-b: 'Inter', sans-serif;
}


body {
  /* height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0; */
  font-family: var(--nav-font);
  color: black;
  background: rgb(202, 202, 202);
  background-image: url('./images/pets_white.svg');
  background-size: 10rem;
  background-repeat: repeat;
};

a:link {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: var(--font-tiny);
}

button {
  color: var(--lt-gray);
  background-color: var(--pink);
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: var(--font-xs);
  word-wrap: normal;
  padding: 1rem;
  width: 10rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1rem;
  opacity: 0.8;
}

button:hover {
  transform: scale(1.1);
  color: var(--dk-gray);
  background-color: var(--lt-pink);
  border: 1px solid rgb(109, 0, 103);
}