

.sliderContainer {
  position: relative;
  height: auto;
  /* width: 80rem; */
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


/* .slider {
  width: 400px;
  height: 600px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
} */

.slide {
  /* width: 10rem;
  height: 10rem; */
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

.activeSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.slideImage {
  width: 80%;
  border-radius: 10px;
}

.arrow {
  color: var(--pink);
  background-color: rgb(200, 200, 201);
  border-radius: 50%;
  border: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 6rem;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.leftArrow {
  left: 32px; 
}

.rightArrow {
  right: 32px;
}

/* @supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
} */