

.sliderContainer {
  position: absolute;
  /* width: 60vw; */
  height: auto;
  /* height: 80rem;
  max-height: 700px;
  width: 80rem;
  max-width: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: 200px;
  z-index: 0;
}

.slide {
  scroll-behavior: smooth;
  scroll-snap-align: start;
  top: 0;
}

.activeSlide {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  position: relative;
  top: 0;
  z-index: 1;
}

.slideImage {
  max-height: 450px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.slideTitle {
  margin: 2rem 0;
}

.slideControls{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.arrow {
  color: var(--pink);
  background-color: rgb(226, 226, 226);
  border-radius: 50%;
  border: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 5rem;
  opacity: 0.7;
  position: fixed;
  /* top: 90%; */
  z-index: 2;
}

.leftArrow {
  margin-right: 14rem; 
}

.rightArrow {
  margin-left: 14rem;
}

.heartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.heart {
  font-size: 6rem;
  fill: var(--pink);
  opacity: 0.7; 
  position: absolute;
}

.enlarge{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
  left: 0%;
}

.slideControlBtn:hover {
  transform: scale(1.1);
}

/* @supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
} */