

.sliderContainer {
  position: relative;
  /* height: auto; */
  /* height: 80rem;
  max-height: 700px;
  width: 80rem;
  max-width: 700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.slide {
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  top: 0;
}

.activeSlide {
  /* height: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  position: relative;
  top: 0;
  z-index: 1;
}

.slideImage {
  max-height: 450px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid rgb(109, 0, 103);
}

.slideTitle {
  margin: 2rem 0;
}

.slideControls{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-top: 2.5rem;
}

.arrow {
  color: var(--pink);
  background-color: var(--gray);
  border-radius: 50%;
  border: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 5rem;
  opacity: 0.7;
  position: absolute;
  /* top: 90%; */
  z-index: 2;
}

.leftArrow {
  margin-right: 14rem; 
}

.rightArrow {
  margin-left: 14rem;
}

.heartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.heart {
  font-size: 6rem;
  fill: var(--pink);
  opacity: 0.7; 
  position: absolute;
}

.enlarge{
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
  left: 0%;
}

.slideControlBtn:hover {
  transform: none;
}

/* @supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
} */

/* ----------------------------MEDIA---------------------------------- */

@media only screen and (max-width: 600px) {

  .sliderContainer {
    width: 90%;
    max-width: 400px;
    height: 500px;
    position: absolute;
    align-items:stretch;
    margin: 0 auto;
    bottom: 70px;
  }
  
  .slide {
    width: auto;
    scroll-behavior: smooth;
    scroll-snap-align: start;
  }
  
  .activeSlide {
    width: 100%;
    justify-content: flex-end;
    transition-duration: 1s;
    transform: scale(1);
  }
  
  .slideImage {
    max-height: 380px;
    max-width: 100%;
    border-radius: 10px;
    object-fit: scale-down;
  }

  .slideTitle {
    margin: 1rem 0 3rem 0;
  }

  .slideControls{
    margin-top: 1rem;
  }

  .heartContainer {
    visibility: hidden;
  }

  .leftArrow {
    margin-right: 10rem; 
  }
  
  .rightArrow {
    margin-left: 10rem;
  }
}